@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown  {
    height: 30px;
    overflow: hidden;
    transition: all .2s;
    
}
.dropdown.active  {
    height: 150px;
    transition: all .2s;
    overflow: scroll;
}
.dropdown-label {
    left: 0;
    position: sticky;
    right: 0;
    z-index: 9;
    top: 0;
    background: white;
}
.dropdown-item {
    transition: all .1s

}
.dropdown-item:hover {
    color: white;
    background: #cf2338;
    transition: all .1s
}